<!doctype html>
<html lang="fr">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Explorateur de la calculette impôts</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #777;
}
    </style>
    {% endblock %}
  </head>
  <body>
    <h1>Web Explorer – Calculette Impôts</h1>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      <hr>
      {% block footer %}
      Copyright &copy; 2016 by <a href="http://www.openfisca.fr/">OpenFisca</a>.
      {% endblock %}
    </div>
  </body>
</html>
