{% extends "layout.html" %}
{% block title %}Web Explorer – Calculette Impôts{% endblock %}
{% block content %}
  <h1>Web Explorer – Calculette Impôts</h1>
  <p>
    Accéder aux
    <a href="#saisie-variables">variables saisies</a>,
    <a href="#calculee-variables">variables calculées</a>,
    <a href="#examples">exemples de calculs</a>
  </p>
  <h2 id="saisie-variables">Variables saisies</h2>
  <ul>
    {% for variable_name, variable in saisie_variables.items() %}
      <li>
        <a href="{{ url_for('variable', variable_name=variable_name) }}">{{variable_name}}</a>
        – {{ variable.description or 'Pas de description' }}
        – alias {{ variable.alias }}
      </li>
    {% endfor %}
  </ul>
  <h2 id="calculee-variables">Variables calculées</h2>
  <ul>
    {% for variable_name, variable in calculee_variables.items() %}
      <li>
        <a href="{{ url_for('variable', variable_name=variable_name) }}">{{variable_name}}</a>
        – {{ variable.description or 'Pas de description' }}
      </li>
    {% endfor %}
  </ul>
  <h2 id="examples">Exemples de calculs</h2>
  <ul>
    <li><a href="/IRN?V_ANREV=2014&TSHALLOV=20000">célibataire gagnant 20000€ par an</a></li>
  </ul>
{% endblock %}
