{% extends "layout.html" %}

{% macro render_variable_type(name, type, base=False) -%}
  {% if type == 'variable_saisie' %}
    Variable saisie
  {% elif type == 'variable_calculee' %}
    Variable calculée
    {% if base %}
      de base
    {% endif %}
  {% elif name in state.constants %}
    Constante
  {% else %}
    Variable
  {% endif %}
{%- endmacro %}

{% block title %}Variable {{ variable.name }}{% endblock %}

{% block content %}
  {% if input_error_by_name %}
    <h3>Erreurs</h3>
    <ul>
      {% for name, error in input_error_by_name.items() %}
        <li>
          {{ name }} : {{ error }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <h1>{{ render_variable_type(variable.name, variable.type, variable.base) }} {{ variable.name }}</h1>
  <p>
    {{ variable.description or 'Pas de description' }}
    {% if variable.alias %}
      – alias {{ variable.alias }}
    {% endif %}
  </p>
  {% if variable.formula_source_html %}
    <pre>{{ variable.formula_source_html|safe }}</pre>
    <a href="{{ variable.source_file_git_url }}" target="_blank" rel="external">source</a>
  {% endif %}
  <form action="{{ url_for('variable', historique=history_str, variable_name=variable.name) }}" method="get">
    {% if saisie_variable_input_by_name %}
      <h3>Variables saisies</h3>
      <ul>
      {% for name, value in saisie_variable_input_by_name.items() %}
        {% if name != variable.name %}
          <li>
            {% set saisie_definition = state.variables_definitions.definition_by_variable_name[name] %}
            <a href="{{ url_for('variable', variable_name=name, historique=history_str,
                **saisie_variable_input_by_name) }}">{{ name }}</a>
            alias {{ saisie_definition.alias }}
            <input name="{{ name }}" required type="number" value="{{ value }}">
            <input type="submit" value="OK">
            – {{ saisie_definition.description or 'Pas de description' }}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
    {{ variable.linecol }}
    {% if variable.type == 'variable_saisie' %}
      {{ variable.name }}
      <input name="{{ variable.name }}" required type="number" value="{{ saisie_variable_input_by_name.get(variable.name, '') }}">
      <input type="submit" value="OK">
    {% elif variable.type == 'variable_calculee' and not variable.base %}
      <p>Résultat du calcul : {{ variable_value_by_name.get(variable.name, '') }}</p>
    {% else %}
      <p>Valeur : {{ variable_value_by_name.get(variable.name, '') }}</p>
    {% endif %}
    {% if variable.dependencies %}
      <h3>Variables utilisées par {{ variable.name }}</h3>
      <ul>
        {% for source_name in variable.dependencies %}
          <li>
            {{ render_variable_type(source_name, state.variables_definitions.get_type(source_name)) }}
            <a href="{{ url_for('variable', variable_name=source_name, historique=history_str,
                **saisie_variable_input_by_name) }}">{{ source_name }}</a>
            {{ variable_value_by_name.get(source_name) }}
            {% set source_description = state.variables_definitions.get_description(source_name) %}
            – {{ source_description or 'Pas de description' }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if variable.reverse_dependencies %}
      <h3>Formules utilisant {{ variable.name }}</h3>
      <ul>
        {% for target_name in variable.reverse_dependencies %}
          <li>
            <a href="{{ url_for('variable', variable_name=target_name, historique=history_str,
                **saisie_variable_input_by_name) }}">{{ target_name }}</a>
            {{ variable_value_by_name.get(target_name) }}
            {% set target_description = state.variables_definitions.get_description(target_name) %}
            – {{ target_description or 'Pas de description' }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <input name="historique" type="hidden" value="{{ history_str }}">
  </form>
  {% if history|length > 1 %}
    <h3>Historique</h3>
    <a href="{{ url_for('variable', variable_name=variable.name, **saisie_variable_input_by_name) }}">Effacer</a>
    <ul>
      {% for history_name in history %}
        {% if history_name != variable.name %}
          <li>
            <a href="{{ url_for('variable', variable_name=history_name, historique=history_str,
                **saisie_variable_input_by_name) }}">{{ history_name }}</a>
            {{ variable_value_by_name.get(history_name) }}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  <div id="discourse-comments"></div>
  <script type="text/javascript">
    DiscourseEmbed = {
      discourseUrl: 'https://forum.openfisca.fr/',
      discourseEmbedUrl: '{{ url_for('variable', _external = True, variable_name=variable.name) }}'
    };

    (function() {
      var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
      d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    })();
  </script>
{% endblock %}
